<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
        <!-- We have home navbar without left link-->
        <div class="center sliding">Сообщения</div>
        <div class="right im">
            <a href="dialogs.html" class="link"><i class="fa fa-envelope-o"></i></a>
        </div>
    </div>
</div>
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="dialogs" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="list-block dialogs-list">
                <ul>
                    {{#each dialogs}}
                    <li>
                        <a href="im.html?id={{interlocutor_id}}" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">{{nick}}</div>
                                {{#js_compare "this.count != 0"}}<div class="item-after"><span class="badge">{{count}}</span></div>{{/js_compare}}
                            </div>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>