<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"><i class="icon icon-back"></i><span>Назад</span></a>
        </div>
        <!-- We have home navbar without left link-->
        <div class="center sliding">Сообщения</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="im" class="page toolbar-fixed">
        <!-- Scrollable page content-->
        <div class="toolbar messagebar">
            <div class="toolbar-inner">
                <textarea placeholder="Сообщение"></textarea><a class="link" href="#">Отпр.</a>
            </div>
        </div>
        <div class="page-content messages-content">
            <div class="messages">
                <div class="messages-date">
                    Saturday, Jan 23,
                    <span>21:52</span>
                </div>
                <div class="message message-received message-first">
                    <div class="message-name">nico</div>
                    <div class="message-text">como andan</div>
                </div>
                <div class="message message-received message-hide-name message-last">
                    <div class="message-name">nico</div>
                    <div class="message-text">nico lemos es mi fb alguien q sepa desbloquear icloud？</div>
                </div>
                <div class="message message-received message-first message-last">
                    <div class="message-name">ni co</div>
                    <div class="message-text">hablenme x ahi fb Nico Lemos （viteh）</div>
                </div>
                <div class="message message-received message-first message-last">
                    <div class="message-name">nico</div>
                    <div class="message-text">soy de uruguay</div>
                </div>
                <div class="message message-received message-appear message-last message-first">
                    <div class="message-name">n</div>
                    <div class="message-text">hola </div>
                </div>
            </div>
        </div>
    </div>
</div>