<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
        <!-- We have home navbar without left link-->
        <div class="center sliding">Рейтинг</div>
        <div class="right im">
            <a href="dialogs.html" class="link"><i class="fa fa-envelope-o"></i></a>
        </div>
    </div>
</div>
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="rating" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="list-block rating-list">
                <ul>
                    {{#each users}}
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">{{nick}}</div>
                            <div class="item-after"><span class="badge">{{rating}}</span></div>
                            <a href="im.html?id={{id}}" class="item-media"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>