
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
        <!-- We have home navbar without left link-->
        <div class="center sliding">Тренировка</div>
        <div class="right im">
            <a href="dialogs.html" class="link"><i class="fa fa-envelope-o"></i></a>
        </div>
    </div>
</div>
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="training" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="task-wrap">
                <div id="complexity">90</div>
                <div class="task">Задание</div>
            </div>
            <div class="table-wrap">
                <div class="table-side"></div>
                <div class="table">
                    <div class="board">
                        <div class="balls" id="ball1"></div>
                        <div class="balls" id="ball2"></div>
                        <canvas id="trajectory" width="100%" height="100%"></canvas>
                    </div>
                    <div class="boardside-top">
                        <div class="left-part">
                            <div class="shadow"></div>
                            <div class="left"></div>
                            <div class="center"></div>
                            <div class="right"></div>
                        </div>
                        <div class="right-part">
                            <div class="shadow"></div>
                            <div class="left"></div>
                            <div class="center"></div>
                            <div class="right"></div>
                        </div>
                    </div>
                    <style>
                        .boardside-top, .boardside-top .left-part, .boardside-top .right-part {
                            position: absolute;
                        }
                        .boardside-top .center {
                            background: green;
                            position: absolute;;
                            z-index: 10;
                        }
                        .boardside-top .left {
                            content: '';
                            position: absolute;
                            border: 6px solid green;
                            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.9);
                            transform: rotate(225deg);
                            z-index: 9;
                        }
                        .boardside-top .right {
                            content: '';
                            position: absolute;
                            border: 6px solid green;
                            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.9);
                            transform: rotate(225deg);
                            z-index: 9;
                        }
                        .boardside-top .shadow {
                            display: block;
                            position: relative;
                            z-index: 8;
                            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.9);
                        }
                    </style>
                    <div class="boardside-bottom">
                        <div class="left-part">
                            <div class="shadow"></div>
                            <div class="left"></div>
                            <div class="center"></div>
                            <div class="right"></div>
                        </div>
                        <div class="right-part">
                            <div class="shadow"></div>
                            <div class="left"></div>
                            <div class="center"></div>
                            <div class="right"></div>
                        </div>
                    </div>
                    <style>
                        .boardside-bottom, .boardside-bottom .left-part, .boardside-bottom .right-part {
                            position: absolute;
                        }
                        .boardside-bottom .center {
                            background: green;
                            position: absolute;;
                            z-index: 10;
                        }
                        .boardside-bottom .left {
                            content: '';
                            position: absolute;
                            border: 6px solid green;
                            transform: rotate(315deg);
                            z-index: 9;
                        }
                        .boardside-bottom .right {
                            content: '';
                            position: absolute;
                            border: 6px solid green;
                            transform: rotate(315deg);
                            z-index: 9;
                        }
                        .boardside-bottom .shadow {
                            display: block;
                            position: relative;
                            z-index: 8;
                        }
                    </style>
                    <div class="boardside-left">
                        <div class="shadow"></div>
                        <div class="left"></div>
                        <div class="center"></div>
                        <div class="right"></div>
                    </div>
                    <style>
                        .boardside-left {
                            position: absolute;
                        }
                        .boardside-left .center {
                            background: green;
                            position: absolute;;
                            z-index: 10;
                        }
                        .boardside-left .left {
                            content: '';
                            position: absolute;
                            border: 6px solid green;
                            transform: rotate(45deg);
                            z-index: 9;
                        }
                        .boardside-left .right {
                            content: '';
                            position: absolute;
                            border: 6px solid green;
                            transform: rotate(45deg);
                            z-index: 9;
                        }
                        .boardside-left .shadow {
                            display: block;
                            position: absolute;
                            z-index: 8;
                        }
                    </style>
                    <div class="boardside-right">
                        <div class="shadow"></div>
                        <div class="left"></div>
                        <div class="center"></div>
                        <div class="right"></div>
                    </div>
                    <style>
                        .boardside-right {
                            position: absolute;
                        }
                        .boardside-right .center {
                            background: green;
                            position: absolute;;
                            z-index: 10;
                        }
                        .boardside-right .left {
                            content: '';
                            position: absolute;
                            border: 6px solid green;
                            transform: rotate(-45deg);
                            z-index: 9;
                        }
                        .boardside-right .right {
                            content: '';
                            position: absolute;
                            border: 6px solid green;
                            transform: rotate(-45deg);
                            z-index: 9;
                        }
                        .boardside-right .shadow {
                            display: block;
                            position: absolute;
                            z-index: 8;
                        }
                    </style>
                    <div id="pocket0" class="pockets"></div>
                    <div id="pocket1" class="pockets"></div>
                    <div id="pocket2" class="pockets"></div>
                    <div id="pocket3" class="pockets"></div>
                    <div id="pocket4" class="pockets"></div>
                    <div id="pocket5" class="pockets"></div>
                </div>
            </div>
            <style>
                .table-wrap {
                    width: 100%;
                    border-radius: 5px;
                    background-color: #db7500;
                }
                .table-side {
                    border-radius: 5px;
                    z-index: 15;
                    background-color: transparent;
                    border: 8px solid #db7500;
                    position: absolute;
                }
                .table {
                    width: 98%;
                    height: 98%;
                    margin: 1% 0 0 1%;
                    background-color: green; /* #0f610f; */
                    position: relative;
                    border-radius: 5px;
                }
            </style>
            <div class="marks">
                <form id="mark">
                    <input type="hidden" value="" id="task_id">
                    <a href="#" id="result1" class="button">1</a><a href="#" id="result3" class="button">3</a><a href="#" id="result5" class="button">5</a><a href="#" id="result10" class="button">10</a><a href="#" id="skip" class="button">></a>
                    <!--input type="number" id="result" value="" min="1" placeholder="Номер удачной попытки"-->
                    <!--button id="enter" type="submit">OK</button-->
                </form>
            </div>
        </div>
    </div>
</div>